# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variables de entorno
.env
.env.local

# Build / dist
dist/
build/
